In [1]:
# Paso 0: Importar libreria Pandas

import pandas as pd

In [2]:
# Paso 2: Importar resultados del modelo para cada empresa


acciona = pd.read_csv('acciona.csv')
acciona_ene = pd.read_csv('acciona_ene.csv')
acerinox = pd.read_csv('acerinox.csv')
acs = pd.read_csv('acs.csv')
aena = pd.read_csv('aena.csv')
amadeus = pd.read_csv('amadeus.csv')
arcelor = pd.read_csv('arcelor.csv')
bankinter = pd.read_csv('bankinter.csv')
bbva = pd.read_csv('bbva.csv')
caixabank = pd.read_csv('caixabank.csv')
cellnex = pd.read_csv('cellnex.csv')
colonial = pd.read_csv('colonial.csv')
enagas = pd.read_csv('enagas.csv')
endesa = pd.read_csv('endesa.csv')
ferrovial = pd.read_csv('ferrovial.csv')
fluidra = pd.read_csv('fluidra.csv') 
grifols = pd.read_csv('grifols.csv')
iag = pd.read_csv('iag.csv') 
iberdrola = pd.read_csv('iberdrola.csv')
inditex = pd.read_csv('inditex.csv')
indra = pd.read_csv('indra.csv')
logista = pd.read_csv('logista.csv')
mapfre = pd.read_csv('mapfre.csv')
melia = pd.read_csv('melia.csv') 
merlin = pd.read_csv('merlin.csv')
naturgy = pd.read_csv('naturgy.csv')
ree = pd.read_csv('ree.csv')
repsol = pd.read_csv('repsol.csv')
rovi = pd.read_csv('rovi.csv')
sabadell = pd.read_csv('sabadell.csv')
sacyr = pd.read_csv('sacyr.csv') 
santander = pd.read_csv('santander.csv')
solaria = pd.read_csv('solaria.csv')
telefonica = pd.read_csv('telefonica.csv')
unicaja = pd.read_csv('unicaja.csv')

In [3]:
# Paso 2: Realizar concatenación para todos los DFs importados

list_of_dfs = [acciona, acciona_ene, acerinox, acs, aena, amadeus, arcelor, bankinter, bbva, caixabank, cellnex, colonial, enagas, endesa, 
               ferrovial, fluidra, grifols, iag, iberdrola, inditex, indra, logista, mapfre, melia, merlin, naturgy,ree,repsol,
               rovi, sabadell, sacyr, santander, solaria, telefonica, unicaja]


simulator = pd.concat(list_of_dfs, ignore_index=True)

simulator

,name,date,do,pred,error,stock,day_gap,money,evolution,opti_real,opti_pred
0,acciona,2024-01-02,126.30,127.01,0.71,2,NaN,NaN,NaN,NaN,NaN
1,acciona,2024-01-03,127.20,126.51,-0.69,2,0.90,1.80,301.80,NaN,NaN
2,acciona,2024-01-04,128.80,127.41,-1.39,2,1.60,3.20,305.00,NaN,NaN
3,acciona,2024-01-05,128.10,129.00,0.90,2,-0.70,-1.40,303.60,NaN,NaN
4,acciona,2024-01-08,130.80,128.30,-2.50,2,2.70,5.40,309.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1395,unicaja,2024-02-20,0.97,0.97,0.00,103,0.00,0.00,102.41,109.35,113.88
1396,unicaja,2024-02-21,0.98,0.97,-0.01,102,0.01,1.02,103.43,110.37,114.90
1397,unicaja,2024-02-22,0.96,0.98,0.02,104,-0.02,-2.08,101.35,108.29,112.82
1398,unicaja,2024-02-23,0.94,0.96,0.02,106,-0.02,-2.12,99.23,106.17,110.70
1399,unicaja,2024-02-26,0.96,0.94,-0.02,104,0.02,2.08,101.31,108.25,112.78

In [4]:
# Paso 3: Chequear el tipo del dato del DF resultante

simulator.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       1400 non-null   object
 1   date       1400 non-null   object
 2   do         1400 non-null   float64
 3   pred       1400 non-null   float64
 4   error      1400 non-null   float64
 5   stock      1400 non-null   int64
 6   day_gap    1365 non-null   float64
 7   money      1365 non-null   float64
 8   evolution  1365 non-null   float64
 9   opti_real  545 non-null    float64
 10  opti_pred  612 non-null    float64
dtypes: float64(8), int64(1), object(2)
memory usage: 120.4+ KB

In [5]:
# Paso 4: Sustituir los '.' por ',' para poder trabajar posteriormente en Power BI

columns_to_convert = simulator.columns.difference(['name', 'date'])  # Excluir 'name' y 'date'
simulator[columns_to_convert] = simulator[columns_to_convert].astype(str).apply(lambda x: x.str.replace('.', ','))

In [7]:
# Paso 5: Modificar el formato de fecha de string a dattime

simulator['date'] = pd.to_datetime(simulator['date'], format="%Y-%m-%d")

simulator.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       1400 non-null   object
 1   date       1400 non-null   datetime64[ns]
 2   do         1400 non-null   object
 3   pred       1400 non-null   object
 4   error      1400 non-null   object
 5   stock      1400 non-null   object
 6   day_gap    1400 non-null   object
 7   money      1400 non-null   object
 8   evolution  1400 non-null   object
 9   opti_real  1400 non-null   object
 10  opti_pred  1400 non-null   object
dtypes: datetime64[ns](1), object(10)
memory usage: 120.4+ KB

In [8]:
# Paso 6: Realizar último check al DF

simulator

,name,date,do,pred,error,stock,day_gap,money,evolution,opti_real,opti_pred
0,acciona,2024-01-02,"126,3","127,01","0,710000000000008",2,nan,nan,nan,nan,nan
1,acciona,2024-01-03,"127,2","126,51","-0,6899999999999977",2,"0,9000000000000057","1,8000000000000114","301,8",nan,nan
2,acciona,2024-01-04,"128,8","127,41","-1,3900000000000148",2,"1,6000000000000083","3,200000000000017","305,0",nan,nan
3,acciona,2024-01-05,"128,1","129,0","0,9000000000000057",2,"-0,700000000000017","-1,400000000000034","303,6",nan,nan
4,acciona,2024-01-08,"130,8","128,3","-2,5",2,"2,700000000000017","5,400000000000034","309,0",nan,nan
...,...,...,...,...,...,...,...,...,...,...,...
1395,unicaja,2024-02-20,"0,97","0,97","0,0",103,"0,0","0,0","102,41","109,35","113,88"
1396,unicaja,2024-02-21,"0,98","0,97","-0,01",102,"0,01","1,020000000000001","103,43","110,37","114,9"
1397,unicaja,2024-02-22,"0,96","0,98","0,02",104,"-0,02","-2,080000000000002","101,35","108,29","112,82"
1398,unicaja,2024-02-23,"0,94","0,96","0,02",106,"-0,02","-2,120000000000002","99,23","106,17","110,7"
1399,unicaja,2024-02-26,"0,96","0,94","-0,02",104,"0,02","2,080000000000002","101,31","108,25","112,78"

In [10]:
# Paso 7: Exportar DF a formato csv para visuzalización en Power BI

simulator.to_csv('simulador.csv')