In [1]:
# Paso 0: Importar libreria Pandas

import pandas as pd

In [2]:
# Paso 1: Cargar DF con la info descargada

acerinox = pd.read_csv('ACX.MC.csv')

acerinox

            Date    Open    High     Low   Close  Adj Close   Volume
0     2019-01-02   8.640   8.642   8.350   8.582   5.994900   860864
1     2019-01-03   8.526   8.576   8.402   8.406   5.871956   860687
2     2019-01-04   8.516   8.898   8.510   8.882   6.204463  1662782
3     2019-01-07   8.994   9.054   8.776   8.976   6.270126  1209968
4     2019-01-08   8.968   9.340   8.968   9.200   6.426599  3245342
...          ...     ...     ...     ...     ...        ...      ...
1320  2024-02-26  10.245  10.255  10.130  10.230  10.230000   359035
1321  2024-02-27  10.260  10.400  10.250  10.400  10.400000   420563
1322  2024-02-28  10.365  10.395  10.175  10.200  10.200000   409772
1323  2024-02-29  10.245  10.260  10.095  10.135  10.135000   601209
1324  2024-03-01   9.800   9.972   9.346   9.574   9.574000  2609965

[1325 rows x 7 columns]

In [3]:
acerinox['id'] = 3
acerinox['ticker'] = 'ACX'
acerinox['empresa'] = 'Acerinox'

acerinox

,Date,Open,High,Low,Close,Adj Close,Volume,id,ticker,empresa
0,2019-01-02,8.640,8.642,8.350,8.582,5.994900,860864,3,ACX,Acerinox
1,2019-01-03,8.526,8.576,8.402,8.406,5.871956,860687,3,ACX,Acerinox
2,2019-01-04,8.516,8.898,8.510,8.882,6.204463,1662782,3,ACX,Acerinox
3,2019-01-07,8.994,9.054,8.776,8.976,6.270126,1209968,3,ACX,Acerinox
4,2019-01-08,8.968,9.340,8.968,9.200,6.426599,3245342,3,ACX,Acerinox
...,...,...,...,...,...,...,...,...,...,...
1320,2024-02-26,10.245,10.255,10.130,10.230,10.230000,359035,3,ACX,Acerinox
1321,2024-02-27,10.260,10.400,10.250,10.400,10.400000,420563,3,ACX,Acerinox
1322,2024-02-28,10.365,10.395,10.175,10.200,10.200000,409772,3,ACX,Acerinox
1323,2024-02-29,10.245,10.260,10.095,10.135,10.135000,601209,3,ACX,Acerinox
1324,2024-03-01,9.800,9.972,9.346,9.574,9.574000,2609965,3,ACX,Acerinox

In [5]:
# Paso 3: Modificar tÃ­tulos de columnas con funciÃ³n lower.


acerinox.columns = acerinox.columns.str.lower()

acerinox.columns

Index(['date', 'open', 'high', 'low', 'close', 'adj close', 'volume', 'id',
       'ticker', 'empresa'],
      dtype='object')

In [6]:
# Paso 4: Ordenar columnas del DF

acerinox = acerinox[['id','ticker','empresa','date','open','high','low','close','adj close','volume']]

acerinox

,id,ticker,empresa,date,open,high,low,close,adj close,volume
0,3,ACX,Acerinox,2019-01-02,8.640,8.642,8.350,8.582,5.994900,860864
1,3,ACX,Acerinox,2019-01-03,8.526,8.576,8.402,8.406,5.871956,860687
2,3,ACX,Acerinox,2019-01-04,8.516,8.898,8.510,8.882,6.204463,1662782
3,3,ACX,Acerinox,2019-01-07,8.994,9.054,8.776,8.976,6.270126,1209968
4,3,ACX,Acerinox,2019-01-08,8.968,9.340,8.968,9.200,6.426599,3245342
...,...,...,...,...,...,...,...,...,...,...
1320,3,ACX,Acerinox,2024-02-26,10.245,10.255,10.130,10.230,10.230000,359035
1321,3,ACX,Acerinox,2024-02-27,10.260,10.400,10.250,10.400,10.400000,420563
1322,3,ACX,Acerinox,2024-02-28,10.365,10.395,10.175,10.200,10.200000,409772
1323,3,ACX,Acerinox,2024-02-29,10.245,10.260,10.095,10.135,10.135000,601209
1324,3,ACX,Acerinox,2024-03-01,9.800,9.972,9.346,9.574,9.574000,2609965

In [7]:
# Paso 5: Pasar a csv el DF

acerinox.to_csv('acx.csv',index=False)