In [1]:
# Paso 0: Importar libreria Pandas

import pandas as pd

In [2]:
# Paso 1: Cargar DF con la info descargada

colonial = pd.read_csv('COL.MC.csv')

colonial

            Date   Open   High    Low  Close  Adj Close    Volume
0     2019-01-02  7.950  8.065  7.885  8.020   6.861066    717693
1     2019-01-03  8.020  8.085  7.990  8.040   6.878175    704526
2     2019-01-04  8.100  8.185  8.040  8.175   6.993667    636896
3     2019-01-07  8.200  8.305  8.140  8.295   7.096326    690552
4     2019-01-08  8.320  8.540  8.255  8.465   7.241761    850111
...          ...    ...    ...    ...    ...        ...       ...
1320  2024-02-26  5.115  5.155  5.080  5.120   5.120000   1352932
1321  2024-02-27  5.130  5.225  5.125  5.190   5.190000   1405091
1322  2024-02-28  5.205  5.205  5.020  5.070   5.070000  28508771
1323  2024-02-29  5.090  5.140  5.020  5.020   5.020000   1951347
1324  2024-03-01  5.000  5.055  4.864  4.910   4.910000   2541825

[1325 rows x 7 columns]

In [3]:
# Paso 2: Insertar nuevas columnas en el DF, 'id','ticker','empresa'

colonial['id'] = 23
colonial['ticker'] = 'COL'
colonial['empresa'] = 'Colonial Inmobiliaria'

colonial

,Date,Open,High,Low,Close,Adj Close,Volume,id,ticker,empresa
0,2019-01-02,7.950,8.065,7.885,8.020,6.861066,717693,23,COL,Colonial Inmobiliaria
1,2019-01-03,8.020,8.085,7.990,8.040,6.878175,704526,23,COL,Colonial Inmobiliaria
2,2019-01-04,8.100,8.185,8.040,8.175,6.993667,636896,23,COL,Colonial Inmobiliaria
3,2019-01-07,8.200,8.305,8.140,8.295,7.096326,690552,23,COL,Colonial Inmobiliaria
4,2019-01-08,8.320,8.540,8.255,8.465,7.241761,850111,23,COL,Colonial Inmobiliaria
...,...,...,...,...,...,...,...,...,...,...
1320,2024-02-26,5.115,5.155,5.080,5.120,5.120000,1352932,23,COL,Colonial Inmobiliaria
1321,2024-02-27,5.130,5.225,5.125,5.190,5.190000,1405091,23,COL,Colonial Inmobiliaria
1322,2024-02-28,5.205,5.205,5.020,5.070,5.070000,28508771,23,COL,Colonial Inmobiliaria
1323,2024-02-29,5.090,5.140,5.020,5.020,5.020000,1951347,23,COL,Colonial Inmobiliaria
1324,2024-03-01,5.000,5.055,4.864,4.910,4.910000,2541825,23,COL,Colonial Inmobiliaria

In [4]:
# Paso 3: Modificar tÃ­tulos de columnas con funciÃ³n lower.


colonial.columns = colonial.columns.str.lower()

colonial.columns

Index(['date', 'open', 'high', 'low', 'close', 'adj close', 'volume', 'id',
       'ticker', 'empresa'],
      dtype='object')

In [5]:
# Paso 4: Ordenar columnas del DF

colonial = colonial[['id','ticker','empresa','date','open','high','low','close','adj close','volume']]

colonial

,id,ticker,empresa,date,open,high,low,close,adj close,volume
0,23,COL,Colonial Inmobiliaria,2019-01-02,7.950,8.065,7.885,8.020,6.861066,717693
1,23,COL,Colonial Inmobiliaria,2019-01-03,8.020,8.085,7.990,8.040,6.878175,704526
2,23,COL,Colonial Inmobiliaria,2019-01-04,8.100,8.185,8.040,8.175,6.993667,636896
3,23,COL,Colonial Inmobiliaria,2019-01-07,8.200,8.305,8.140,8.295,7.096326,690552
4,23,COL,Colonial Inmobiliaria,2019-01-08,8.320,8.540,8.255,8.465,7.241761,850111
...,...,...,...,...,...,...,...,...,...,...
1320,23,COL,Colonial Inmobiliaria,2024-02-26,5.115,5.155,5.080,5.120,5.120000,1352932
1321,23,COL,Colonial Inmobiliaria,2024-02-27,5.130,5.225,5.125,5.190,5.190000,1405091
1322,23,COL,Colonial Inmobiliaria,2024-02-28,5.205,5.205,5.020,5.070,5.070000,28508771
1323,23,COL,Colonial Inmobiliaria,2024-02-29,5.090,5.140,5.020,5.020,5.020000,1951347
1324,23,COL,Colonial Inmobiliaria,2024-03-01,5.000,5.055,4.864,4.910,4.910000,2541825

In [6]:
# Paso 5: Pasar a csv el DF

colonial.to_csv('col.csv',index=False)