In [1]:
# Paso 0: Importar libreria Pandas

import pandas as pd

In [2]:
# Paso 1: Cargar DF con la info descargada

bbva = pd.read_csv('BBVA.MC.csv')

bbva

            Date    Open    High     Low   Close  Adj Close    Volume
0     2019-01-02  4.5735  4.6960  4.5100  4.6635   3.549864  19834470
1     2019-01-03  4.6260  4.7390  4.6260  4.6760   3.559379  19019827
2     2019-01-04  4.7385  4.8780  4.7220  4.8505   3.692209  24676124
3     2019-01-07  4.8835  4.8935  4.8010  4.8335   3.679268  15376663
4     2019-01-08  4.8600  4.9235  4.8345  4.8745   3.710477  25603840
...          ...     ...     ...     ...     ...        ...       ...
1320  2024-02-26  9.4100  9.4900  9.4080  9.4560   9.456000   5680949
1321  2024-02-27  9.4320  9.5180  9.3200  9.3700   9.370000  10890940
1322  2024-02-28  9.3420  9.4420  9.2540  9.3200   9.320000   9858549
1323  2024-02-29  9.2940  9.3480  9.1460  9.1860   9.186000  30979546
1324  2024-03-01  9.1980  9.4220  9.1740  9.3620   9.362000   8378798

[1325 rows x 7 columns]

In [3]:
# Paso 2: Insertar nuevas columnas en el DF, 'id','ticker','empresa'

bbva['id'] = 11
bbva['ticker'] = 'BBVA'
bbva['empresa'] = 'BBVA'

bbva

,Date,Open,High,Low,Close,Adj Close,Volume,id,ticker,empresa
0,2019-01-02,4.5735,4.6960,4.5100,4.6635,3.549864,19834470,11,BBVA,BBVA
1,2019-01-03,4.6260,4.7390,4.6260,4.6760,3.559379,19019827,11,BBVA,BBVA
2,2019-01-04,4.7385,4.8780,4.7220,4.8505,3.692209,24676124,11,BBVA,BBVA
3,2019-01-07,4.8835,4.8935,4.8010,4.8335,3.679268,15376663,11,BBVA,BBVA
4,2019-01-08,4.8600,4.9235,4.8345,4.8745,3.710477,25603840,11,BBVA,BBVA
...,...,...,...,...,...,...,...,...,...,...
1320,2024-02-26,9.4100,9.4900,9.4080,9.4560,9.456000,5680949,11,BBVA,BBVA
1321,2024-02-27,9.4320,9.5180,9.3200,9.3700,9.370000,10890940,11,BBVA,BBVA
1322,2024-02-28,9.3420,9.4420,9.2540,9.3200,9.320000,9858549,11,BBVA,BBVA
1323,2024-02-29,9.2940,9.3480,9.1460,9.1860,9.186000,30979546,11,BBVA,BBVA
1324,2024-03-01,9.1980,9.4220,9.1740,9.3620,9.362000,8378798,11,BBVA,BBVA

In [4]:
# Paso 3: Modificar tÃ­tulos de columnas con funciÃ³n lower.


bbva.columns = bbva.columns.str.lower()

bbva.columns

Index(['date', 'open', 'high', 'low', 'close', 'adj close', 'volume', 'id',
       'ticker', 'empresa'],
      dtype='object')

In [5]:
# Paso 4: Ordenar columnas del DF

bbva = bbva[['id','ticker','empresa','date','open','high','low','close','adj close','volume']]

bbva

,id,ticker,empresa,date,open,high,low,close,adj close,volume
0,11,BBVA,BBVA,2019-01-02,4.5735,4.6960,4.5100,4.6635,3.549864,19834470
1,11,BBVA,BBVA,2019-01-03,4.6260,4.7390,4.6260,4.6760,3.559379,19019827
2,11,BBVA,BBVA,2019-01-04,4.7385,4.8780,4.7220,4.8505,3.692209,24676124
3,11,BBVA,BBVA,2019-01-07,4.8835,4.8935,4.8010,4.8335,3.679268,15376663
4,11,BBVA,BBVA,2019-01-08,4.8600,4.9235,4.8345,4.8745,3.710477,25603840
...,...,...,...,...,...,...,...,...,...,...
1320,11,BBVA,BBVA,2024-02-26,9.4100,9.4900,9.4080,9.4560,9.456000,5680949
1321,11,BBVA,BBVA,2024-02-27,9.4320,9.5180,9.3200,9.3700,9.370000,10890940
1322,11,BBVA,BBVA,2024-02-28,9.3420,9.4420,9.2540,9.3200,9.320000,9858549
1323,11,BBVA,BBVA,2024-02-29,9.2940,9.3480,9.1460,9.1860,9.186000,30979546
1324,11,BBVA,BBVA,2024-03-01,9.1980,9.4220,9.1740,9.3620,9.362000,8378798

In [7]:
# Paso 5: Pasar a csv el DF

bbva.to_csv('bbva.csv',index=False)