In [1]:
# Paso 0: Importar libreria Pandas

import pandas as pd

In [2]:
# Paso 1: Cargar DF con la info descargada

cellnex = pd.read_csv('CLNX.MC.csv')

cellnex

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-01-02,16.874771,17.262959,16.692095,17.202066,17.089506,606909
1,2019-01-03,17.202066,17.460859,17.065060,17.392357,17.278551,474060
2,2019-01-04,17.438025,17.643536,17.399967,17.575031,17.460032,662981
3,2019-01-07,17.689205,18.085005,17.575031,18.077394,17.959105,2470785
4,2019-01-08,17.986055,18.145897,17.818602,18.039335,17.921293,857855
...,...,...,...,...,...,...,...
1320,2024-02-26,34.000000,34.610001,33.980000,34.310001,34.310001,668290
1321,2024-02-27,34.500000,34.560001,34.080002,34.380001,34.380001,753172
1322,2024-02-28,34.259998,34.349998,32.939999,33.169998,33.169998,1191552
1323,2024-02-29,33.000000,33.650002,32.450001,33.270000,33.270000,8973626
1324,2024-03-01,33.270000,34.099998,33.070000,33.570000,33.570000,1506069

In [3]:
cellnex['id'] = 13
cellnex['ticker'] = 'CLNX'
cellnex['empresa'] = 'Cellnex'

cellnex

,Date,Open,High,Low,Close,Adj Close,Volume,id,ticker,empresa
0,2019-01-02,16.874771,17.262959,16.692095,17.202066,17.089506,606909,13,CLNX,Cellnex
1,2019-01-03,17.202066,17.460859,17.065060,17.392357,17.278551,474060,13,CLNX,Cellnex
2,2019-01-04,17.438025,17.643536,17.399967,17.575031,17.460032,662981,13,CLNX,Cellnex
3,2019-01-07,17.689205,18.085005,17.575031,18.077394,17.959105,2470785,13,CLNX,Cellnex
4,2019-01-08,17.986055,18.145897,17.818602,18.039335,17.921293,857855,13,CLNX,Cellnex
...,...,...,...,...,...,...,...,...,...,...
1320,2024-02-26,34.000000,34.610001,33.980000,34.310001,34.310001,668290,13,CLNX,Cellnex
1321,2024-02-27,34.500000,34.560001,34.080002,34.380001,34.380001,753172,13,CLNX,Cellnex
1322,2024-02-28,34.259998,34.349998,32.939999,33.169998,33.169998,1191552,13,CLNX,Cellnex
1323,2024-02-29,33.000000,33.650002,32.450001,33.270000,33.270000,8973626,13,CLNX,Cellnex
1324,2024-03-01,33.270000,34.099998,33.070000,33.570000,33.570000,1506069,13,CLNX,Cellnex

In [4]:
# Paso 3: Modificar tÃ­tulos de columnas con funciÃ³n lower.


cellnex.columns = cellnex.columns.str.lower()

cellnex.columns

Index(['date', 'open', 'high', 'low', 'close', 'adj close', 'volume', 'id',
       'ticker', 'empresa'],
      dtype='object')

In [5]:
# Paso 4: Ordenar columnas del DF

cellnex = cellnex[['id','ticker','empresa','date','open','high','low','close','adj close','volume']]

cellnex

,id,ticker,empresa,date,open,high,low,close,adj close,volume
0,13,CLNX,Cellnex,2019-01-02,16.874771,17.262959,16.692095,17.202066,17.089506,606909
1,13,CLNX,Cellnex,2019-01-03,17.202066,17.460859,17.065060,17.392357,17.278551,474060
2,13,CLNX,Cellnex,2019-01-04,17.438025,17.643536,17.399967,17.575031,17.460032,662981
3,13,CLNX,Cellnex,2019-01-07,17.689205,18.085005,17.575031,18.077394,17.959105,2470785
4,13,CLNX,Cellnex,2019-01-08,17.986055,18.145897,17.818602,18.039335,17.921293,857855
...,...,...,...,...,...,...,...,...,...,...
1320,13,CLNX,Cellnex,2024-02-26,34.000000,34.610001,33.980000,34.310001,34.310001,668290
1321,13,CLNX,Cellnex,2024-02-27,34.500000,34.560001,34.080002,34.380001,34.380001,753172
1322,13,CLNX,Cellnex,2024-02-28,34.259998,34.349998,32.939999,33.169998,33.169998,1191552
1323,13,CLNX,Cellnex,2024-02-29,33.000000,33.650002,32.450001,33.270000,33.270000,8973626
1324,13,CLNX,Cellnex,2024-03-01,33.270000,34.099998,33.070000,33.570000,33.570000,1506069

In [6]:
# Paso 5: Pasar a csv el DF

cellnex.to_csv('clnx.csv',index=False)