In [1]:
# Paso 0: Importar libreria Pandas

import pandas as pd

In [2]:
# Paso 1: Cargar DFs con csv generados

acciona = pd.read_csv('ana.csv')
ferrovial = pd.read_csv('fer.csv')
fluidra = pd.read_csv('fdr.csv')
grupo_acs = pd.read_csv('acs.csv')
sacyr = pd.read_csv('scyr.csv')

In [3]:
# Paso 2: Concatenar los diferentes DFs para tener un consolidado de Banking

industrial_services = pd.concat([acciona, ferrovial,fluidra,grupo_acs,sacyr], axis=0)

industrial_services.reset_index(drop=True)

,id,ticker,empresa,date,open,high,low,close,adj close,volume
0,1,ANA,Acciona,2019-01-02,73.900002,73.900002,73.900002,73.900002,64.148270,0
1,1,ANA,Acciona,2019-01-03,74.199997,74.199997,74.199997,74.199997,64.408676,0
2,1,ANA,Acciona,2019-01-04,76.580002,76.580002,76.580002,76.580002,66.474617,0
3,1,ANA,Acciona,2019-01-07,76.980003,77.139999,75.860001,77.139999,66.960716,0
4,1,ANA,Acciona,2019-01-08,77.139999,78.400002,77.139999,78.239998,67.915558,0
...,...,...,...,...,...,...,...,...,...,...
6611,32,SCYR,Sacyr,2024-02-26,3.054000,3.074000,3.040000,3.056000,3.056000,1658279
6612,32,SCYR,Sacyr,2024-02-27,3.048000,3.088000,3.042000,3.084000,3.084000,1808137
6613,32,SCYR,Sacyr,2024-02-28,3.084000,3.102000,2.982000,3.026000,3.026000,2312254
6614,32,SCYR,Sacyr,2024-02-29,3.030000,3.118000,2.944000,3.032000,3.032000,3402545
6615,32,SCYR,Sacyr,2024-03-01,3.068000,3.068000,3.002000,3.054000,3.054000,1594089

In [4]:
# Paso 3: Exportar el DF a csv

industrial_services.to_csv('industrial.csv')