In [1]:
# Paso 0: Importar libreria Pandas

import pandas as pd

In [2]:
# Paso 1: Cargar DF con la info descargada

sacyr = pd.read_csv('SCYR.MC.csv')

sacyr

            Date      Open      High       Low     Close  Adj Close   Volume
0     2019-01-02  1.702205  1.739230  1.646666  1.729487   1.350952  9286873
1     2019-01-03  1.704153  1.797205  1.704153  1.772846   1.384820  1810149
2     2019-01-04  1.791846  1.861025  1.791846  1.838128   1.435814  6543175
3     2019-01-07  1.867358  1.878076  1.834717  1.847871   1.443425  2224251
4     2019-01-08  1.841538  1.875641  1.840564  1.856641   1.450275  3199518
...          ...       ...       ...       ...       ...        ...      ...
1320  2024-02-26  3.054000  3.074000  3.040000  3.056000   3.056000  1658279
1321  2024-02-27  3.048000  3.088000  3.042000  3.084000   3.084000  1808137
1322  2024-02-28  3.084000  3.102000  2.982000  3.026000   3.026000  2312254
1323  2024-02-29  3.030000  3.118000  2.944000  3.032000   3.032000  3402545
1324  2024-03-01  3.068000  3.068000  3.002000  3.054000   3.054000  1594089

[1325 rows x 7 columns]

In [3]:
# Paso 2: Insertar nuevas columnas en el DF, 'id','ticker','empresa'

sacyr['id'] = 32
sacyr['ticker'] = 'SCYR'
sacyr['empresa'] = 'Sacyr'

sacyr

,Date,Open,High,Low,Close,Adj Close,Volume,id,ticker,empresa
0,2019-01-02,1.702205,1.739230,1.646666,1.729487,1.350952,9286873,32,SCYR,Sacyr
1,2019-01-03,1.704153,1.797205,1.704153,1.772846,1.384820,1810149,32,SCYR,Sacyr
2,2019-01-04,1.791846,1.861025,1.791846,1.838128,1.435814,6543175,32,SCYR,Sacyr
3,2019-01-07,1.867358,1.878076,1.834717,1.847871,1.443425,2224251,32,SCYR,Sacyr
4,2019-01-08,1.841538,1.875641,1.840564,1.856641,1.450275,3199518,32,SCYR,Sacyr
...,...,...,...,...,...,...,...,...,...,...
1320,2024-02-26,3.054000,3.074000,3.040000,3.056000,3.056000,1658279,32,SCYR,Sacyr
1321,2024-02-27,3.048000,3.088000,3.042000,3.084000,3.084000,1808137,32,SCYR,Sacyr
1322,2024-02-28,3.084000,3.102000,2.982000,3.026000,3.026000,2312254,32,SCYR,Sacyr
1323,2024-02-29,3.030000,3.118000,2.944000,3.032000,3.032000,3402545,32,SCYR,Sacyr
1324,2024-03-01,3.068000,3.068000,3.002000,3.054000,3.054000,1594089,32,SCYR,Sacyr

In [4]:
# Paso 3: Modificar tÃ­tulos de columnas con funciÃ³n lower.


sacyr.columns = sacyr.columns.str.lower()

sacyr.columns

Index(['date', 'open', 'high', 'low', 'close', 'adj close', 'volume', 'id',
       'ticker', 'empresa'],
      dtype='object')

In [5]:
# Paso 4: Ordenar columnas del DF

sacyr = sacyr[['id','ticker','empresa','date','open','high','low','close','adj close','volume']]

sacyr

,id,ticker,empresa,date,open,high,low,close,adj close,volume
0,32,SCYR,Sacyr,2019-01-02,1.702205,1.739230,1.646666,1.729487,1.350952,9286873
1,32,SCYR,Sacyr,2019-01-03,1.704153,1.797205,1.704153,1.772846,1.384820,1810149
2,32,SCYR,Sacyr,2019-01-04,1.791846,1.861025,1.791846,1.838128,1.435814,6543175
3,32,SCYR,Sacyr,2019-01-07,1.867358,1.878076,1.834717,1.847871,1.443425,2224251
4,32,SCYR,Sacyr,2019-01-08,1.841538,1.875641,1.840564,1.856641,1.450275,3199518
...,...,...,...,...,...,...,...,...,...,...
1320,32,SCYR,Sacyr,2024-02-26,3.054000,3.074000,3.040000,3.056000,3.056000,1658279
1321,32,SCYR,Sacyr,2024-02-27,3.048000,3.088000,3.042000,3.084000,3.084000,1808137
1322,32,SCYR,Sacyr,2024-02-28,3.084000,3.102000,2.982000,3.026000,3.026000,2312254
1323,32,SCYR,Sacyr,2024-02-29,3.030000,3.118000,2.944000,3.032000,3.032000,3402545
1324,32,SCYR,Sacyr,2024-03-01,3.068000,3.068000,3.002000,3.054000,3.054000,1594089

In [6]:
# Paso 5: Pasar a csv el DF

sacyr.to_csv('scyr.csv',index=False)