In [1]:
import pandas as pd

In [2]:
acciona_class = pd.read_csv('acciona_class.csv')

acciona_class

            date     d-4     d-3     d-2     d-1    real  cate
0     2021-01-04  116.70  116.60  119.40  125.90  127.80     2
1     2021-01-05  116.60  119.40  125.90  127.80  127.80     0
2     2021-01-06  119.40  125.90  127.80  127.80  127.80     0
3     2021-01-07  125.90  127.80  127.80  127.80  124.70     1
4     2021-01-08  127.80  127.80  127.80  124.70  124.80     0
...          ...     ...     ...     ...     ...     ...   ...
1144  2024-02-22  106.70  104.75  104.75  104.75  101.55     1
1145  2024-02-23  104.75  104.75  104.75  101.55  104.20     2
1146  2024-02-24  104.75  104.75  101.55  104.20  100.30     1
1147  2024-02-25  104.75  101.55  104.20  100.30  104.05     2
1148  2024-02-26  101.55  104.20  100.30  104.05  107.00     2

[1149 rows x 7 columns]

In [9]:
X= acciona_class[['d-4','d-3','d-2','d-1','real']]
y = acciona_class.cate

In [10]:
from sklearn.model_selection import train_test_split as tts   


X_train, X_test, y_train, y_test = tts(X, y,
                                       train_size=0.8,
                                       test_size=0.2,
                                       random_state=42
                                      )

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((919, 5), (230, 5), (919,), (230,))

In [5]:
%pip install lazypredict

Requirement already satisfied: lazypredict in c:\users\javie\anaconda3\lib\site-packages (0.2.12)
Requirement already satisfied: click in c:\users\javie\anaconda3\lib\site-packages (from lazypredict) (8.0.4)
Requirement already satisfied: scikit-learn in c:\users\javie\anaconda3\lib\site-packages (from lazypredict) (1.3.0)
Requirement already satisfied: pandas in c:\users\javie\anaconda3\lib\site-packages (from lazypredict) (2.0.3)
Requirement already satisfied: tqdm in c:\users\javie\anaconda3\lib\site-packages (from lazypredict) (4.65.0)
Requirement already satisfied: joblib in c:\users\javie\anaconda3\lib\site-packages (from lazypredict) (1.2.0)
Requirement already satisfied: lightgbm in c:\users\javie\anaconda3\lib\site-packages (from lazypredict) (4.3.0)
Requirement already satisfied: xgboost in c:\users\javie\anaconda3\lib\site-packages (from lazypredict) (2.0.3)
Requirement already satisfied: colorama in c:\users\javie\anaconda3\lib\site-packages (from click->lazypredict) (0.4.6)
Requirement already satisfied: numpy in c:\users\javie\anaconda3\lib\site-packages (from lightgbm->lazypredict) (1.24.3)
Requirement already satisfied: scipy in c:\users\javie\anaconda3\lib\site-packages (from lightgbm->lazypredict) (1.11.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\javie\anaconda3\lib\site-packages (from pandas->lazypredict) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\javie\anaconda3\lib\site-packages (from pandas->lazypredict) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\javie\anaconda3\lib\site-packages (from pandas->lazypredict) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\javie\anaconda3\lib\site-packages (from scikit-learn->lazypredict) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\javie\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->lazypredict) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
from lazypredict.Supervised import LazyClassifier

# Initialize Lazy Classifier
classy = LazyClassifier(verbose=0, ignore_warnings=True, custom_metric=None)
# Fit and score all models
models, predictions = classy.fit(X_train, X_test, y_train, y_test)
print(models)

100%|██████████| 29/29 [00:01<00:00, 15.28it/s]

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000422 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1268
[LightGBM] [Info] Number of data points in the train set: 919, number of used features: 5
[LightGBM] [Info] Start training from score -0.639137
[LightGBM] [Info] Start training from score -1.476179
[LightGBM] [Info] Start training from score -1.411640
                               Accuracy  Balanced Accuracy ROC AUC  F1 Score  \
Model
QuadraticDiscriminantAnalysis      0.97               0.98    None      0.97
CalibratedClassifierCV             0.96               0.95    None      0.96
PassiveAggressiveClassifier        0.80               0.80    None      0.80
Perceptron                         0.82               0.77    None      0.81
LinearDiscriminantAnalysis         0.82               0.76    None      0.82
LGBMClassifier                     0.80               0.76    None      0.80
LinearSVC                          0.81               0.75    None      0.80
XGBClassifier                      0.78               0.73    None      0.77
DecisionTreeClassifier             0.75               0.72    None      0.74
BaggingClassifier                  0.77               0.71    None      0.76
SGDClassifier                      0.78               0.71    None      0.77
NuSVC                              0.77               0.70    None      0.76
RidgeClassifierCV                  0.76               0.67    None      0.74
ExtraTreesClassifier               0.74               0.67    None      0.73
RandomForestClassifier             0.73               0.67    None      0.72
RidgeClassifier                    0.71               0.61    None      0.68
LogisticRegression                 0.68               0.57    None      0.65
ExtraTreeClassifier                0.60               0.57    None      0.59
KNeighborsClassifier               0.66               0.55    None      0.62
LabelPropagation                   0.57               0.43    None      0.48
LabelSpreading                     0.57               0.43    None      0.47
AdaBoostClassifier                 0.56               0.42    None      0.46
NearestCentroid                    0.43               0.41    None      0.39
GaussianNB                         0.50               0.35    None      0.36
BernoulliNB                        0.50               0.33    None      0.33
SVC                                0.50               0.33    None      0.33
DummyClassifier                    0.50               0.33    None      0.33

                               Time Taken
Model
QuadraticDiscriminantAnalysis        0.02
CalibratedClassifierCV               0.05
PassiveAggressiveClassifier          0.02
Perceptron                           0.01
LinearDiscriminantAnalysis           0.02
LGBMClassifier                       0.23
LinearSVC                            0.03
XGBClassifier                        0.23
DecisionTreeClassifier               0.02
BaggingClassifier                    0.10
SGDClassifier                        0.01
NuSVC                                0.05
RidgeClassifierCV                    0.01
ExtraTreesClassifier                 0.19
RandomForestClassifier               0.50
RidgeClassifier                      0.03
LogisticRegression                   0.02
ExtraTreeClassifier                  0.01
KNeighborsClassifier                 0.04
LabelPropagation                     0.03
LabelSpreading                       0.03
AdaBoostClassifier                   0.13
NearestCentroid                      0.01
GaussianNB                           0.01
BernoulliNB                          0.03
SVC                                  0.04
DummyClassifier                      0.01

In [18]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis as QDA
from sklearn.metrics import classification_report

In [14]:
qda_model = QDA()

In [15]:
qda_model.fit(X_train, y_train)

QuadraticDiscriminantAnalysis()

In [16]:
y_pred = qda_model.predict(X_test)

In [19]:
print("Reporte de clasificación:")
print(classification_report(y_test, y_pred))

Reporte de clasificación:
              precision    recall  f1-score   support

           0       1.00      0.95      0.97       115
           1       0.97      1.00      0.98        64
           2       0.93      1.00      0.96        51

    accuracy                           0.97       230
   macro avg       0.97      0.98      0.97       230
weighted avg       0.98      0.97      0.97       230

In [20]:
y_pred

array([2, 1, 1, 0, 0, 0, 1, 1, 0, 1, 2, 2, 0, 1, 2, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 2, 0, 1, 1, 0, 0, 2, 0, 1, 0,
       2, 2, 0, 1, 1, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 1, 2, 1, 1,
       0, 0, 2, 0, 0, 2, 0, 0, 0, 2, 0, 0, 1, 0, 2, 0, 0, 0, 0, 2, 2, 1,
       0, 2, 0, 1, 2, 2, 2, 2, 1, 1, 0, 1, 2, 0, 2, 1, 0, 2, 2, 1, 1, 1,
       2, 1, 1, 0, 2, 0, 0, 0, 2, 0, 0, 0, 1, 0, 2, 2, 0, 0, 1, 0, 1, 0,
       2, 1, 1, 0, 0, 0, 0, 2, 1, 0, 2, 0, 2, 0, 0, 0, 2, 0, 2, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 2, 0, 2, 2, 1, 0, 1, 0, 1, 2, 2, 0, 0, 1, 0, 2,
       1, 2, 0, 0, 1, 1, 1, 0, 1, 2, 0, 2, 1, 2, 0, 1, 0, 0, 2, 1, 0, 0,
       2, 2, 2, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 2, 1, 2, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 2, 2, 0, 1, 2, 1], dtype=int64)

In [21]:
acciona_class_1 = acciona_class[['d-4','d-3','d-2','d-1','real']]

acciona_class_1

        d-4    d-3    d-2    d-1   real
0    116.70 116.60 119.40 125.90 127.80
1    116.60 119.40 125.90 127.80 127.80
2    119.40 125.90 127.80 127.80 127.80
3    125.90 127.80 127.80 127.80 124.70
4    127.80 127.80 127.80 124.70 124.80
...     ...    ...    ...    ...    ...
1144 106.70 104.75 104.75 104.75 101.55
1145 104.75 104.75 104.75 101.55 104.20
1146 104.75 104.75 101.55 104.20 100.30
1147 104.75 101.55 104.20 100.30 104.05
1148 101.55 104.20 100.30 104.05 107.00

[1149 rows x 5 columns]

In [22]:
y_pred = qda_model.predict(acciona_class_1)

In [23]:
pred = pd.DataFrame(y_pred)

pred

      0
0     2
1     0
2     0
3     1
4     0
...  ..
1144  1
1145  2
1146  1
1147  2
1148  2

[1149 rows x 1 columns]

In [25]:
acciona_class['pred']=pred

acciona_class

            date    d-4    d-3    d-2    d-1   real  cate  pred
0     2021-01-04 116.70 116.60 119.40 125.90 127.80     2     2
1     2021-01-05 116.60 119.40 125.90 127.80 127.80     0     0
2     2021-01-06 119.40 125.90 127.80 127.80 127.80     0     0
3     2021-01-07 125.90 127.80 127.80 127.80 124.70     1     1
4     2021-01-08 127.80 127.80 127.80 124.70 124.80     0     0
...          ...    ...    ...    ...    ...    ...   ...   ...
1144  2024-02-22 106.70 104.75 104.75 104.75 101.55     1     1
1145  2024-02-23 104.75 104.75 104.75 101.55 104.20     2     2
1146  2024-02-24 104.75 104.75 101.55 104.20 100.30     1     1
1147  2024-02-25 104.75 101.55 104.20 100.30 104.05     2     2
1148  2024-02-26 101.55 104.20 100.30 104.05 107.00     2     2

[1149 rows x 8 columns]

In [26]:
acciona_class['error'] = acciona_class.pred - acciona_class.cate

acciona_class

            date    d-4    d-3    d-2    d-1   real  cate  pred  error
0     2021-01-04 116.70 116.60 119.40 125.90 127.80     2     2      0
1     2021-01-05 116.60 119.40 125.90 127.80 127.80     0     0      0
2     2021-01-06 119.40 125.90 127.80 127.80 127.80     0     0      0
3     2021-01-07 125.90 127.80 127.80 127.80 124.70     1     1      0
4     2021-01-08 127.80 127.80 127.80 124.70 124.80     0     0      0
...          ...    ...    ...    ...    ...    ...   ...   ...    ...
1144  2024-02-22 106.70 104.75 104.75 104.75 101.55     1     1      0
1145  2024-02-23 104.75 104.75 104.75 101.55 104.20     2     2      0
1146  2024-02-24 104.75 104.75 101.55 104.20 100.30     1     1      0
1147  2024-02-25 104.75 101.55 104.20 100.30 104.05     2     2      0
1148  2024-02-26 101.55 104.20 100.30 104.05 107.00     2     2      0

[1149 rows x 9 columns]

In [28]:
filtered_df = acciona_class[acciona_class['error'] != 0]

filtered_df

            date    d-4    d-3    d-2    d-1   real  cate  pred  error
25    2021-01-29 123.10 123.10 123.10 125.00 126.10     0     2      2
31    2021-02-04 127.30 129.50 129.50 129.50 130.60     0     2      2
46    2021-02-19 143.20 143.20 143.20 136.20 135.50     0     1      1
49    2021-02-22 136.20 135.50 134.70 134.20 133.30     0     1      1
132   2021-05-16 135.50 135.50 136.70 136.60 137.60     0     2      2
249   2021-09-10 144.00 144.00 144.00 146.90 147.80     0     2      2
273   2021-10-04 142.20 141.90 140.90 143.30 144.20     0     2      2
300   2021-10-31 166.80 166.40 166.80 158.30 158.90     0     2      2
381   2022-01-20 152.70 150.50 150.50 150.50 151.50     0     2      2
388   2022-01-27 152.90 154.50 154.50 154.50 155.50     0     2      2
438   2022-03-18 165.90 165.90 165.90 165.00 166.00     0     2      2
469   2022-04-18 192.70 196.70 195.00 188.90 187.90     0     1      1
483   2022-05-02 182.90 185.80 190.10 179.80 180.50     0     2      2
537   2022-06-25 178.80 178.80 176.20 174.80 175.80     0     2      2
559   2022-07-17 181.50 181.10 183.60 179.90 180.70     0     2      2
608   2022-09-04 189.70 193.70 193.40 200.00 200.80     0     2      2
686   2022-11-21 179.80 181.90 182.10 186.70 187.60     0     2      2
700   2022-12-05 180.00 182.00 183.30 176.50 177.40     0     2      2
761   2023-02-04 183.50 183.50 184.40 185.70 186.60     0     2      2
868   2023-05-22 166.20 165.25 164.80 161.00 160.15     0     1      1
878   2023-06-01 155.05 157.10 157.10 157.10 158.15     0     2      2
952   2023-08-14 131.55 128.30 127.15 123.85 124.90     0     2      2
993   2023-09-24 124.25 120.60 120.80 120.35 121.40     0     2      2
1056  2023-11-26 123.85 126.30 126.95 128.80 129.85     0     2      2
1061  2023-12-01 130.10 130.10 130.10 132.45 133.45     0     2      2
1119  2024-01-28 121.75 121.95 118.45 119.85 119.00     0     1      1
1138  2024-02-16 109.15 109.15 109.15 107.50 108.55     0     2      2