In [1]:
# Paso 0: Importar libreria Pandas

import pandas as pd

In [2]:
# Paso 1: Cargar DF con la info descargada

grifols = pd.read_csv('GRF.MC.csv')

grifols

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-01-02,22.559999,22.730000,22.180000,22.730000,21.937431,488978
1,2019-01-03,22.719999,22.930000,22.500000,22.809999,22.014643,3948479
2,2019-01-04,23.090000,23.860001,22.809999,23.570000,22.748142,853831
3,2019-01-07,23.590000,23.670000,23.309999,23.549999,22.728840,387963
4,2019-01-08,23.590000,24.160000,23.590000,23.900000,23.066635,755013
...,...,...,...,...,...,...,...
1320,2024-02-26,11.600000,11.915000,11.585000,11.770000,11.770000,2818851
1321,2024-02-27,11.835000,11.910000,11.625000,11.790000,11.790000,2110287
1322,2024-02-28,11.705000,12.035000,11.455000,11.655000,11.655000,2523810
1323,2024-02-29,11.550000,11.600000,7.522000,7.584000,7.584000,17631655
1324,2024-03-01,8.038000,9.250000,7.794000,8.976000,8.976000,12586727

In [3]:
grifols['id'] = 18
grifols['ticker'] = 'GRF'
grifols['empresa'] = 'Grifols'

grifols

,Date,Open,High,Low,Close,Adj Close,Volume,id,ticker,empresa
0,2019-01-02,22.559999,22.730000,22.180000,22.730000,21.937431,488978,18,GRF,Grifols
1,2019-01-03,22.719999,22.930000,22.500000,22.809999,22.014643,3948479,18,GRF,Grifols
2,2019-01-04,23.090000,23.860001,22.809999,23.570000,22.748142,853831,18,GRF,Grifols
3,2019-01-07,23.590000,23.670000,23.309999,23.549999,22.728840,387963,18,GRF,Grifols
4,2019-01-08,23.590000,24.160000,23.590000,23.900000,23.066635,755013,18,GRF,Grifols
...,...,...,...,...,...,...,...,...,...,...
1320,2024-02-26,11.600000,11.915000,11.585000,11.770000,11.770000,2818851,18,GRF,Grifols
1321,2024-02-27,11.835000,11.910000,11.625000,11.790000,11.790000,2110287,18,GRF,Grifols
1322,2024-02-28,11.705000,12.035000,11.455000,11.655000,11.655000,2523810,18,GRF,Grifols
1323,2024-02-29,11.550000,11.600000,7.522000,7.584000,7.584000,17631655,18,GRF,Grifols
1324,2024-03-01,8.038000,9.250000,7.794000,8.976000,8.976000,12586727,18,GRF,Grifols

In [4]:
# Paso 3: Modificar tÃ­tulos de columnas con funciÃ³n lower.


grifols.columns = grifols.columns.str.lower()

grifols.columns

Index(['date', 'open', 'high', 'low', 'close', 'adj close', 'volume', 'id',
       'ticker', 'empresa'],
      dtype='object')

In [5]:
# Paso 4: Ordenar columnas del DF

grifols = grifols[['id','ticker','empresa','date','open','high','low','close','adj close','volume']]

grifols

,id,ticker,empresa,date,open,high,low,close,adj close,volume
0,18,GRF,Grifols,2019-01-02,22.559999,22.730000,22.180000,22.730000,21.937431,488978
1,18,GRF,Grifols,2019-01-03,22.719999,22.930000,22.500000,22.809999,22.014643,3948479
2,18,GRF,Grifols,2019-01-04,23.090000,23.860001,22.809999,23.570000,22.748142,853831
3,18,GRF,Grifols,2019-01-07,23.590000,23.670000,23.309999,23.549999,22.728840,387963
4,18,GRF,Grifols,2019-01-08,23.590000,24.160000,23.590000,23.900000,23.066635,755013
...,...,...,...,...,...,...,...,...,...,...
1320,18,GRF,Grifols,2024-02-26,11.600000,11.915000,11.585000,11.770000,11.770000,2818851
1321,18,GRF,Grifols,2024-02-27,11.835000,11.910000,11.625000,11.790000,11.790000,2110287
1322,18,GRF,Grifols,2024-02-28,11.705000,12.035000,11.455000,11.655000,11.655000,2523810
1323,18,GRF,Grifols,2024-02-29,11.550000,11.600000,7.522000,7.584000,7.584000,17631655
1324,18,GRF,Grifols,2024-03-01,8.038000,9.250000,7.794000,8.976000,8.976000,12586727

In [6]:
# Paso 5: Pasar a csv el DF

grifols.to_csv('grf.csv',index=False)