In [1]:
# Paso 0: Importar libreria Pandas

import pandas as pd

In [2]:
# Paso 1: Cargar DF con la info descargada

rovi = pd.read_csv('ROVI.MC.csv')

rovi

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-01-02,17.799999,17.799999,17.200001,17.299999,15.988617,1344
1,2019-01-03,17.750000,17.750000,17.299999,17.750000,16.404505,1815
2,2019-01-04,17.500000,18.000000,17.250000,18.000000,16.635555,6441
3,2019-01-07,18.049999,18.299999,17.850000,18.100000,16.727976,5332
4,2019-01-08,18.450001,18.500000,18.150000,18.350000,16.959023,9013
...,...,...,...,...,...,...,...
1320,2024-02-26,71.150002,72.449997,71.000000,71.500000,71.500000,58417
1321,2024-02-27,69.550003,69.800003,64.250000,67.500000,67.500000,483613
1322,2024-02-28,67.199997,71.099998,67.199997,70.900002,70.900002,162449
1323,2024-02-29,71.500000,75.199997,71.199997,74.050003,74.050003,237952
1324,2024-03-01,74.699997,76.000000,74.050003,75.349998,75.349998,102505

In [4]:
rovi['id'] = 31
rovi['ticker'] = 'ROVI'
rovi['empresa'] = 'Laboratorios Rovi'

rovi

,Date,Open,High,Low,Close,Adj Close,Volume,id,ticker,empresa
0,2019-01-02,17.799999,17.799999,17.200001,17.299999,15.988617,1344,31,ROVI,Laboratorios Rovi
1,2019-01-03,17.750000,17.750000,17.299999,17.750000,16.404505,1815,31,ROVI,Laboratorios Rovi
2,2019-01-04,17.500000,18.000000,17.250000,18.000000,16.635555,6441,31,ROVI,Laboratorios Rovi
3,2019-01-07,18.049999,18.299999,17.850000,18.100000,16.727976,5332,31,ROVI,Laboratorios Rovi
4,2019-01-08,18.450001,18.500000,18.150000,18.350000,16.959023,9013,31,ROVI,Laboratorios Rovi
...,...,...,...,...,...,...,...,...,...,...
1320,2024-02-26,71.150002,72.449997,71.000000,71.500000,71.500000,58417,31,ROVI,Laboratorios Rovi
1321,2024-02-27,69.550003,69.800003,64.250000,67.500000,67.500000,483613,31,ROVI,Laboratorios Rovi
1322,2024-02-28,67.199997,71.099998,67.199997,70.900002,70.900002,162449,31,ROVI,Laboratorios Rovi
1323,2024-02-29,71.500000,75.199997,71.199997,74.050003,74.050003,237952,31,ROVI,Laboratorios Rovi
1324,2024-03-01,74.699997,76.000000,74.050003,75.349998,75.349998,102505,31,ROVI,Laboratorios Rovi

In [5]:
# Paso 3: Modificar tÃ­tulos de columnas con funciÃ³n lower.


rovi.columns = rovi.columns.str.lower()

rovi.columns

Index(['date', 'open', 'high', 'low', 'close', 'adj close', 'volume', 'id',
       'ticker', 'empresa'],
      dtype='object')

In [6]:
# Paso 4: Ordenar columnas del DF

rovi = rovi[['id','ticker','empresa','date','open','high','low','close','adj close','volume']]

rovi

,id,ticker,empresa,date,open,high,low,close,adj close,volume
0,31,ROVI,Laboratorios Rovi,2019-01-02,17.799999,17.799999,17.200001,17.299999,15.988617,1344
1,31,ROVI,Laboratorios Rovi,2019-01-03,17.750000,17.750000,17.299999,17.750000,16.404505,1815
2,31,ROVI,Laboratorios Rovi,2019-01-04,17.500000,18.000000,17.250000,18.000000,16.635555,6441
3,31,ROVI,Laboratorios Rovi,2019-01-07,18.049999,18.299999,17.850000,18.100000,16.727976,5332
4,31,ROVI,Laboratorios Rovi,2019-01-08,18.450001,18.500000,18.150000,18.350000,16.959023,9013
...,...,...,...,...,...,...,...,...,...,...
1320,31,ROVI,Laboratorios Rovi,2024-02-26,71.150002,72.449997,71.000000,71.500000,71.500000,58417
1321,31,ROVI,Laboratorios Rovi,2024-02-27,69.550003,69.800003,64.250000,67.500000,67.500000,483613
1322,31,ROVI,Laboratorios Rovi,2024-02-28,67.199997,71.099998,67.199997,70.900002,70.900002,162449
1323,31,ROVI,Laboratorios Rovi,2024-02-29,71.500000,75.199997,71.199997,74.050003,74.050003,237952
1324,31,ROVI,Laboratorios Rovi,2024-03-01,74.699997,76.000000,74.050003,75.349998,75.349998,102505

In [7]:
# Paso 5: Pasar a csv el DF

rovi.to_csv('rovi.csv',index=False)