In [1]:
# Paso 0: Importar libreria Pandas

import pandas as pd

In [2]:
# Paso 1: Cargar DFs con csv generados

bankinter = pd.read_csv('bkt.csv')
bbva = pd.read_csv('bbva.csv')
caixabank = pd.read_csv('cabk.csv')
sabadell = pd.read_csv('sab.csv')
santander = pd.read_csv('san.csv')
unicaja = pd.read_csv('uni.csv')

In [5]:
# Paso 2: Concatenar los diferentes DFs para tener un consolidado de Banking

banking = pd.concat([bankinter, bbva,caixabank,sabadell,santander,unicaja], axis=0)

banking.reset_index(drop=True)

,id,ticker,empresa,date,open,high,low,close,adj close,volume
0,10,BKT,Bankinter,2019-01-02,4.997591,5.049439,4.896775,5.026395,3.784958,1693833
1,10,BKT,Bankinter,2019-01-03,4.990390,5.055200,4.954384,4.999031,3.764353,2975539
2,10,BKT,Bankinter,2019-01-04,5.033596,5.177619,5.023515,5.154576,3.881480,2396190
3,10,BKT,Bankinter,2019-01-07,5.151695,5.189141,5.107048,5.151695,3.879312,3698789
4,10,BKT,Bankinter,2019-01-08,5.148815,5.259712,5.148815,5.210744,3.923777,3464147
...,...,...,...,...,...,...,...,...,...,...
7945,35,UNI,Unicaja,2024-02-26,0.968000,0.976500,0.963500,0.972000,0.972000,4328467
7946,35,UNI,Unicaja,2024-02-27,0.972000,0.976500,0.967500,0.975000,0.975000,3281814
7947,35,UNI,Unicaja,2024-02-28,0.978000,0.978500,0.963500,0.963500,0.963500,3755004
7948,35,UNI,Unicaja,2024-02-29,0.963500,0.966000,0.938500,0.944500,0.944500,11302071
7949,35,UNI,Unicaja,2024-03-01,0.953500,0.972000,0.952500,0.956500,0.956500,5238573

In [6]:
# Paso 3: Exportar el DF a csv

banking.to_csv('banking.csv')