In [1]:
# Paso 0: Importar libreria Pandas para cargar DF

import pandas as pd

In [2]:
# Paso 1: Cargar DFs con csv generados

acciona_ene = pd.read_csv('ane.csv')
enagas = pd.read_csv('eng.csv')
endesa =  pd.read_csv('ele.csv')
iberdrola = pd.read_csv('ibe.csv')
naturgy = pd.read_csv('ntgy.csv')
ree = pd.read_csv('red.csv')
repsol = pd.read_csv('rep.csv')
solaria = pd.read_csv('slr.csv')

In [3]:
# Paso 2: Concatenar los diferentes DFs para tener un consolidado de Energy

energy = pd.concat([acciona_ene, enagas,endesa,iberdrola,naturgy,ree,repsol,solaria], axis=0)

energy.reset_index(drop=True)

,id,ticker,empresa,date,open,high,low,close,adj close,volume
0,2,ANE,Acciona Energia,2021-07-05,29.500000,29.500,28.549999,29.000000,28.145775,721560
1,2,ANE,Acciona Energia,2021-07-06,29.100000,29.100,28.500000,28.790001,27.941961,339807
2,2,ANE,Acciona Energia,2021-07-07,28.790001,29.500,28.520000,29.500000,28.631046,396667
3,2,ANE,Acciona Energia,2021-07-08,29.480000,29.900,29.059999,29.900000,29.019264,279224
4,2,ANE,Acciona Energia,2021-07-09,29.950001,30.750,29.629999,30.600000,29.698645,342990
...,...,...,...,...,...,...,...,...,...,...
9945,33,SLR,Solaria,2024-02-26,11.550000,11.610,11.230000,11.410000,11.410000,831426
9946,33,SLR,Solaria,2024-02-27,11.400000,11.575,11.310000,11.505000,11.505000,634896
9947,33,SLR,Solaria,2024-02-28,11.670000,11.720,10.890000,11.605000,11.605000,2160958
9948,33,SLR,Solaria,2024-02-29,11.835000,11.845,11.010000,11.020000,11.020000,2555022
9949,33,SLR,Solaria,2024-03-01,11.035000,11.420,10.820000,11.050000,11.050000,1145248

In [4]:
# Paso 3: Exportar el DF a csv

energy.to_csv('energy.csv')